@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);


.movie-card {
  box-shadow: 5px 5px 115px -14px rgb(219, 219, 219);
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  filter: drop-shadow(0 0 0.2rem white);

}
.genres-div{
  margin-top: 1rem;
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  font-weight: 500;
  margin-bottom: 1rem !important;
}

.genres-div span{
  padding: 0 !important;
  margin-left: 1rem;
  display: flow;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #ded6d6;
}
.movie-likes {
  width: 100%;
  margin: 1rem;
  text-align: end;
}

.card-title {
  font-size: 26px;

}

.like-icon {
  color: red;
}

.movie-likes span {
  padding: 15px;
}

.summery {
  color: white;
  margin: .5rem;
}

.card-text {
  font-size: 18px;
}

.movie-links {
  width: 100%;
  font-size: 18px;
  /* text-align: center; */
}

.links {
  width: 90%;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.fa-icon {
  width: 25px;
  height: 25px;
  color: red;
}

.movie-links span {
  filter: drop-shadow(0 0 0.2rem white);
  margin: .5rem;
  padding: 5px;
}