.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
.pagination-item {
    padding: 0.5rem 1.2rem;
    border: 2px solid #ff0000;
    border-radius: 3px;
    color: #fff;
    background-color: #171717;
    cursor: pointer;
}
.pagination-item:active {

}
.ant-pagination-item,.ant-pagination-item:hover{
    border: none;
}
.ant-pagination-item-active{
    padding-top: 10px;
    background-color: #171717;
}
.pagination-item:hover {
    background-color: #323232;
    color: #fff;
}