.profile-container {
    display: flex;
    flex-direction: row;
    height: 100%;


}
.watchlist-container {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    border-color: red;
}

.watchlist-content {
    min-height: 100px;
    color: #efefef
}
.left {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    background-color: rgb(100, 44, 44);
    padding-top: 2rem;
}


.iconDiv {
    width: 7rem;
    margin: 1rem 0 3rem 0;
}

.left .iconDiv img {
    max-width: 100%;
}
.profile-email{
    font-size: 18px!important;
}
.left p {
    font-weight: 700;
    margin: -1px 0;
    color: white;
    font-size: 22px;
}
.watchlist-title{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    min-height: 75px;
}
.genre-tag{
    margin-bottom: 5px;
    font-size: 18px;
}
.profile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7c7a7a;
    border-radius: 5%;
}
.profile-links a {
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-weight: 700;
}

.profile-links span {
    color: white;
    margin: -2.5rem;
    font-weight: 700;
    font-size: 18px;
}

.user-links {
    color: white;

}








.right {
    flex: 1;
    padding-top: 5rem;

}

.page-selected-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page-selected-container h4 {
    color: black;
    font-weight: 700;
}

.user-details {
    display: flex;
    align-items: baseline;
    flex-direction: column;

}

.dashboard-container h1 {
    padding-left: 5rem;
}


.user-details input {
    margin: 8px 0;
    box-sizing: border-box;
    width: 40%;
    padding: 12px 20px;
}